<script>
  $(function() {
    $("#datepicker").datepicker({
      changeMonth: true,
      changeYear: true,
      dateFormat: "dd/mm/yy"
    });
  });
</script>

<h1>Sign up</h1>

<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h4>

      <ul>
        <% @profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :birthdate %>
    <%= f.text_field(:birthdate, id: "datepicker") %>
  </div>
  <div class="field">
    <%= f.label :avatar %><br>
    <%= f.file_field :avatar, class: "upload", id: "image1" %>
  </div>

  <%= f.fields_for :user do |ff| %>
    <div class="field">
      <%= ff.label :email %>
      <%= ff.text_field :email %>
    </div>

    <div class="field">
      <%= ff.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= ff.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= ff.label :password_confirmation %>
      <%= ff.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>