<p id="notice"><%= notice %></p>

<h1><%= @post.title %></h1>
<h4><%= @post.created_at.strftime("%d %B %Y") %></h4>

<p>Publisher: <strong><%= @post.profile.name %></strong></p>

<p>
  <%= @post.content %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @post.avatar %>
</p>


<% if user_signed_in? %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>

<%= link_to 'Back', posts_path %>
